<div class="page-header">
  <h1>Subject: <%= @game.subject.initials %> <small><%= @game.experimental_condition_name %> </small> </h1>
</div>
<script>
  var current_game = {dimension: <%= @game.dimension %>,id: <%= @game.id %>, subject_id: <%= @game.subject_id %>, condition: "<%= @game.experimental_condition_name %>", id: <%= @game.id %>};
</script>

<script type="text/x-handlebars" data-template-name="TTT.BoardView">
  <div class="span12 board_background">
    <div class="row">
      {{collection contentBinding="GameDriver.Tiles" itemViewClass="TTT.TileView"  class="by_<%=@game.dimension%>"}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="TTT.move_list_item">
  <td>{{content.subjectPositionLabel}}</td>
  <td>{{content.computerPositionLabel }} </td>
</script>

<script type="text/x-handlebars" data-template-name="TTT.TileView">
  <a href="#" >{{content.labelString}} </a>
</script>


<div class="row">
  <script type="text/x-handlebars">
    {{view TTT.BoardView}}
  </script>

  <script type="text/x-handlebars">
    <div class="span4">
      {{#view TTT.UndoLastMoveView  contentBinding="GameDriver.MoveHistory" }}
        <a href="#" class="btn danger" >Undo Last Move</a>
      {{/view}}

      <table>
      <thead>
        <th>Subject</th>
        <th>Computer</th>
      </thead>
      {{collection contentBinding="GameDriver.MoveHistory" itemViewClass="TTT.MoveListItem" tagName="tbody"  }}
    </table>
   </div>

 </script>
</div>

<div class="row">
  <div class="span12">
    <h1><%= link_to "End Game", subject_path(@game.subject) %></h1>
  </div>
 </div>

