<div class="page-header">
  <h1>Listing subjects</h1>
</div>
<table>
  <tr>
    <th>Initials</th>
    <th>Email</th>
    <th>Games</th>
    <th>Date</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to subject.initials, subject %></td>
    <td><%= mail_to subject.email %></td>
    <td><%= subject.games.count  %></td>
    <td><%= subject.updated_at %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Subject', new_subject_path, :class => 'btn success' %>
