<p id="notice"><%= notice %></p>

<p>
  <b>Initials:</b>
  <%= @subject.initials %>
</p>

<h2><%= link_to "New Game", new_game_path %></h2>



<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
