<!DOCTYPE html>
<html>
<head>
  <title>TTT</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Tic Tac Toe</a>
      <ul class="nav">
        <li><a href="#">Home</a></li>

      </ul>
      <% if !current_user -%>
        <%= form_tag( {:controller => 'user_sessions', :action => :create}, {:class => "pull-right",  :method => :post}) %>
          <input class="input-small" type="text" id="username" name="login[username]" placeholder="Username">
          <input class="input-small" type="password" id="password" name="login[password]" placeholder="Password">
          <button class="btn" type="submit">Sign in</button>
        </form>
      <% else %>
        <div class="pull-right">
          <ul>
            <li>
              <%= link_to 'Sign out', user_session_path, method: :delete %>
            </li>
            <ul>
        </div>
      <% end -%>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">

    <%= yield %>



  </div>
  <footer>
  <p>&copy; David Kirsh 2011</p>
</footer>

</div> <!-- /container -->


</body>
</html>
